@media (min-width: 700px) and (max-width: 1049px) {
  .aboutme-page-name-and-adress-aria {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 100%;
    margin-top: 0px;
  }

  .MeinPhoto-aboutMePage {
    display: none;
  }

  .aboutMe-MeinPhoto {
    height: 100%;
    width: 100%;
    border-radius: 5px;

    --f: 1.15; /* the scale factor */
    clip-path: inset(0);
    transition: 0.4s;
  }
  .aboutMe-MeinPhoto:hover {
    clip-path: inset(calc((1 - 1 / var(--f)) * 50%));
    scale: var(--f);
  }

  /*  */
  /*  */
  /*  */

  .Name-Aria-AboutMePage {
    width: 50%;
    height: 100%;
    padding: 30px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #d6d5e2;
    box-shadow: 0 0 10px #413362;

    display: block;
    align-items: center;
    justify-content: center;
  }
  .Name-Aria-AboutMePage:hover {
    background-color: #ebeaf3;
    box-shadow: 0 0 5px #413362;
  }

  .Name-Aria-AboutMePage h1 {
    color: #413362;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #413362;
  }

  .Name-Aria-AboutMePage h2 {
    color: #d45c0d;
    font-size: 1.2rem;
    font-weight: 50;
    margin-left: 5px;
  }

  .Name-Aria-AboutMePage h2 span {
    color: #5b7402;
    font-weight: 50;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*  */
  /*  */
  /*  */

  .importent-skill-in-dev {
    width: 50%;
    height: 100%;
    padding: 30px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: #d6d5e2;
    box-shadow: 0 0 10px #413362;

    display: block;
    align-items: center;
    justify-content: center;
  }
  .importent-skill-in-dev:hover {
    background-color: #ebeaf3;
    box-shadow: 0 0 5px #413362;
  }

  .importent-skill-in-dev h3 {
    color: #413362;
    font-size: 1.2rem;
    font-weight: 900;
    border-bottom: 1px solid #413362;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .importent-skill-in-dev p {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 10px;
    color: #413362;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*  */
  /*  */
  /*  */
  /*  */
  /*  */

  .pra-aoutPage {
    background-color: #413362;
    padding: 4%;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pra-aoutPage h1 {
    color: #d45c0d;
    font-size: 2rem;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .pra-aoutPage P {
    color: #c6dd72;
    font-size: 1.1rem;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*  */
  /*  */
  /*  */

  .skills-and-technology {
    width: 100%;
    height: 1000px;
    padding: 20px;
    background-color: #fafafc;

    display: block;
    align-items: center;
    justify-content: center;
  }

  .skill-box {
    height: 45%;
    width: 97%;
    background-color: #cdc6e5;
    margin: 20px;
    border-radius: 10px;
    padding-bottom: 50px;
  }

  .html-css-js-gihub-logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
  }

  .html-js-div img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .git-github-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 70px 20px;
    margin-top: -20px;
  }

  #git-img {
    mix-blend-mode: multiply;

    height: 75px;
    margin-bottom: 5px;
  }

  #github-img {
    mix-blend-mode: multiply;

    height: 75px;
    margin-top: 5px;
  }

  .skils-box1-content h1 {
    font-size: 1.8rem;
    color: #d45c0d;
    font-weight: 900;
    margin-bottom: 15px;
  }

  .skils-box1-content p {
    display: flex;
    flex-wrap: wrap;
  }

  .skils-box1-content p span {
    padding: 8px 15px;
    margin: 5px;
    border-radius: 5px;
    color: #cdc6e5;
    background-color: #341d6b;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }

  .skils-box1-content h2 {
    font-size: 1.8rem;
    color: #d45c0d;
    font-weight: 900;
    margin-top: 20px;
  }
  .skils-box1-content h2 span {
    padding: 7px 15px;
    margin: 5px;
    border-radius: 5px;
    color: #cdc6e5;
    background-color: #341d6b;
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*  */

  .skils-box2-content h1 {
    font-size: 1.9rem;
    color: #d45c0d;
    font-weight: 900;
    margin-bottom: 15px;
    border-bottom: 2px solid #5b7402;
  }

  .skils-box2-content h3 {
    color: #341d6b;
    font-size: 1.5rem;
  }
  .skils-box2-content h3 span {
    color: #fafafc;
    background-color: #341d6b;
    border-radius: 5px;
    line-height: 40px;
    padding: 5px 10px;
  }

  .mern-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mern-img-div #mernimg1{
    width: 50%;
  }
  .mern-img-div #mernimg2 {
    display: none;
  }
}
