@media (min-width: 1050px) and (max-width: 1420px) {
  .aboutme-page-name-and-adress-aria {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 100%;
    margin-top: 0px;
  }

  .MeinPhoto-aboutMePage {
    display: none;
  }

  .aboutMe-MeinPhoto {
    height: 100%;
    width: 100%;
    border-radius: 5px;

    --f: 1.15; /* the scale factor */
    clip-path: inset(0);
    transition: 0.4s;
  }
  .aboutMe-MeinPhoto:hover {
    clip-path: inset(calc((1 - 1 / var(--f)) * 50%));
    scale: var(--f);
  }

  /*  */
  /*  */
  /*  */

  .Name-Aria-AboutMePage {
    width: 50%;
    height: 100%;
    padding: 30px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #d6d5e2;
    box-shadow: 0 0 10px #413362;

    display: block;
    align-items: center;
    justify-content: center;
  }
  .Name-Aria-AboutMePage:hover {
    background-color: #ebeaf3;
    box-shadow: 0 0 5px #413362;
  }

  .Name-Aria-AboutMePage h1 {
    color: #413362;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid #413362;
  }

  .Name-Aria-AboutMePage h2 {
    color: #d45c0d;
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .Name-Aria-AboutMePage h2 span {
    color: #5b7402;
    font-weight: 50;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*  */
  /*  */
  /*  */

  .importent-skill-in-dev {
    width: 50%;
    height: 100%;
    padding: 30px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: #d6d5e2;
    box-shadow: 0 0 10px #413362;

    display: block;
    align-items: center;
    justify-content: center;
  }
  .importent-skill-in-dev:hover {
    background-color: #ebeaf3;
    box-shadow: 0 0 5px #413362;
  }

  .importent-skill-in-dev h3 {
    color: #413362;
    font-size: 1.9rem;
    font-weight: 900;
    border-bottom: 1px solid #413362;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .importent-skill-in-dev p {
    font-size: 1.1rem;
    margin-top: 15px;
    color: #413362;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*  */
  /*  */
  /*  */
  /*  */
  /*  */

  .pra-aoutPage {
    background-color: #413362;
    padding: 4%;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pra-aoutPage h1 {
    color: #d45c0d;
    font-size: 2rem;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .pra-aoutPage P {
    color: #c6dd72;
    font-size: 1.4rem;
    line-height: 27px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
