@media only screen and (min-width: 0px) and (max-width: 399px) {
  /*  */
  /*  */
  /*  */

  body {
    background-color: #acacbb;
    padding: 4% 3% !important;
  }

  /*  */
  /*  */
  /*  */

  .navber {
    height: 70px !important;
    width: 100%;
    background-color: #413363;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navber .nav-div1 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(215, 250, 225);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Verdana, sans-serif;
  }

  .navber .nav-div2 {
    display: none; /* Hide menu by default in responsive mode */
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    background-color: #ebeaf3;
    box-shadow: 0 0 15px #423463;
    border-radius: 5px;
    position: absolute;
    width: 200px;
    height: 250px;
    top: -600px;
    z-index: 10;
    transition: all 0.3s;
  }

  .navber-responsive-menu-icon {
    display: block !important; /* Force display block */
  }

  .navber .navber-responsive-menu-icon {
    font-size: 1.5rem;
    color: bisque;
    cursor: pointer;
    display: none;
  }

  .navber-pages-buttons.active {
    color: #fff;
    background-color: #1d1041;
    border-radius: 5px;
  }

  .nav-div2.active {
    display: flex; /* Show menu when active */
    top: 130px;
    right: 83px;
    transition: all 0.3s ease-in;
  }
}
